In [4]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('dataset/Chatbot_data/ChatbotData.csv')
df1 = df1[['Q','A']]

df2 = pd.read_csv('dataset/carl_dataset.csv')
df2 = df2[['유저', '챗봇']]

In [5]:
# df1의 'Q' 컬럼을 '유저'로, 'A' 컬럼을 '챗봇'으로 변경
df1.columns = ['유저', '챗봇']

# 두 데이터프레임 병합
merged_df = pd.concat([df1, df2], ignore_index=True)
merged_df.head()

                유저           챗봇
0           12시 땡!   하루가 또 가네요.
1      1지망 학교 떨어졌어    위로해 드립니다.
2     3박4일 놀러가고 싶다  여행은 언제나 좋죠.
3  3박4일 정도 놀러가고 싶다  여행은 언제나 좋죠.
4          PPL 심하네   눈살이 찌푸려지죠.

In [6]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13596 entries, 0 to 13595
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   유저      13596 non-null  object
 1   챗봇      13388 non-null  object
dtypes: object(2)
memory usage: 212.6+ KB

In [7]:
# NaN 값이 있는 행을 제외하고 병합된 데이터프레임 생성
merged_df_cleaned = merged_df.dropna()
merged_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13388 entries, 0 to 13388
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   유저      13388 non-null  object
 1   챗봇      13388 non-null  object
dtypes: object(2)
memory usage: 313.8+ KB

In [15]:
merged_df.to_csv('dataset/chatbot_data.csv', index=False, encoding='utf-8-sig')